<!DOCTYPE html>
<html lang="en">
    
    {% include "components/head.njk" %}
     {% import "_pattern_macros/legend_tile.njk" as legendtile %}
    
    


<body>
  
{% include "components/header.njk" %}




<div id="content">

<div id="legends">
	
	<div id="name" class="row name">
		<h2 class="slide-right">Bloodhound</h2>
		<h3 class="slide-left">Technological Tracker</h3>
	</div>
	
<div class="row">
    
    
  
    
    {{ legendtile.legendtile('bloodhound', 'recon','Technological Tracker', 'https://static.wikia.nocookie.net/apexlegends_gamepedia_en/images/c/ce/Portrait_Bloodhound_square.png' ) }}
    
    {{ legendtile.legendtile('gibraltar', 'defensive','Shielded Fortress', 'https://static.wikia.nocookie.net/apexlegends_gamepedia_en/images/0/00/Portrait_Gibraltar_square.png' ) }}

	
    {{ legendtile.legendtile('lifeline', 'support','Combat Medic', 'https://static.wikia.nocookie.net/apexlegends_gamepedia_en/images/f/fa/Portrait_Lifeline_square.png' ) }}
    
    {{ legendtile.legendtile('pathfinder', 'recon','Forward Scout', 'https://static.wikia.nocookie.net/apexlegends_gamepedia_en/images/f/f5/Portrait_Pathfinder_square.png' ) }}
    
    {{ legendtile.legendtile('wraith', 'offensive','Interdimensional Skirmisher', 'https://static.wikia.nocookie.net/apexlegends_gamepedia_en/images/6/67/Portrait_Wraith_square.png' ) }}
 
    {{ legendtile.legendtile('bangalore', 'offensive','Professional Soldier', 'https://static.wikia.nocookie.net/apexlegends_gamepedia_en/images/3/37/Portrait_Bangalore_square.png' ) }}

    
    
		</div>
	
<div class="row row2">

	
    {{ legendtile.legendtile('caustic', 'defensive','Toxic Trapper', 'https://static.wikia.nocookie.net/apexlegends_gamepedia_en/images/4/45/Portrait_Caustic_square.png' ) }}
    
    {{ legendtile.legendtile('mirage', 'offensive','Holographic Trickster', 'https://static.wikia.nocookie.net/apexlegends_gamepedia_en/images/c/c8/Portrait_Mirage_square.png' ) }}
    
    {{ legendtile.legendtile('octane', 'offensive','High-Speed Daredevil', 'https://static.wikia.nocookie.net/apexlegends_gamepedia_en/images/9/9a/Portrait_Octane_square.png' ) }}
    
    {{ legendtile.legendtile('wattson', 'defensive','Static Defender', 'https://static.wikia.nocookie.net/apexlegends_gamepedia_en/images/2/22/Portrait_Wattson_square.png' ) }}
    
    {{ legendtile.legendtile('crypto', 'recon','Surveillance Expert', 'https://static.wikia.nocookie.net/apexlegends_gamepedia_en/images/e/e6/Portrait_Crypto_square.png' ) }}
    
    {{ legendtile.legendtile('revenant', 'offensive','Synthetic Nightmare', 'https://static.wikia.nocookie.net/apexlegends_gamepedia_en/images/d/d1/Portrait_Revenant_square.png' ) }}
    
    

		
		</div>
	
<div class="row row3">
    
    
    
    {{ legendtile.legendtile('loba', 'support','Translocating Thief', 'https://static.wikia.nocookie.net/apexlegends_gamepedia_en/images/0/05/Portrait_Loba_square.png' ) }}
    
    {{ legendtile.legendtile('rampart', 'defensive','Amped Modder', 'https://static.wikia.nocookie.net/apexlegends_gamepedia_en/images/0/0f/Portrait_Rampart_square.png' ) }}
    
    {{ legendtile.legendtile('horizon', 'offensive','Gravitational Manipulator', 'https://static.wikia.nocookie.net/apexlegends_gamepedia_en/images/9/97/Portrait_Horizon_square.png' ) }}
    
    {{ legendtile.legendtile('fuse', 'offensive','Bombastic Explosives Expert', 'https://static.wikia.nocookie.net/apexlegends_gamepedia_en/images/b/be/Portrait_Fuse_square.png' ) }}
    
    {{ legendtile.legendtile('valkyrie', 'recon','Winged Avenger', 'https://static.wikia.nocookie.net/apexlegends_gamepedia_en/images/b/b0/Portrait_Valkyrie_square.png' ) }}
    
    {{ legendtile.legendtile('seer', 'recon','Ambush Artist', 'https://static.wikia.nocookie.net/apexlegends_gamepedia_en/images/f/f2/Portrait_Seer_square.png' ) }}


		
		
		</div>
	
<div class="row row4">
    
     {{ legendtile.legendtile('ash', 'offensive','Incisive Instigator', 'https://static.wikia.nocookie.net/apexlegends_gamepedia_en/images/d/d3/Portrait_Ash_square.png' ) }}
    
     {{ legendtile.legendtile('madmaggie', 'offensive','Rebel Warlord', 'https://static.wikia.nocookie.net/apexlegends_gamepedia_en/images/f/f7/Portrait_Mad_Maggie_square.png' ) }}
    
     {{ legendtile.legendtile('newcastle', 'defensive','Heroic Defender', 'https://static.wikia.nocookie.net/apexlegends_gamepedia_en/images/0/0f/Portrait_Newcastle_square.png' ) }}
    
     {{ legendtile.legendtile('vantage', 'recon','Survivalist Sniper', 'https://static.wikia.nocookie.net/apexlegends_gamepedia_en/images/f/f8/Portrait_Vantage_square.png' ) }}
    
     {{ legendtile.legendtile('catalyst', 'defensive','Defensive Conjurer', 'https://static.wikia.nocookie.net/apexlegends_gamepedia_en/images/9/9a/Portrait_Catalyst_square.png' ) }}
	

 
</div>
    
    <fieldset>
    <legend>Pick random</legend>
        <div class="buttons">
   		<button data-highlight="all">{% include "components/icons/apex.svg" %}Legend</button>	
		  <button data-highlight="recon">{% include "components/icons/recon.svg" %}Recon</button>	
		  <button data-highlight="support">{% include "components/icons/support.svg" %}Support</button>	
		  <button data-highlight="offensive">{% include "components/icons/offensive.svg" %}Offensive</button>	
		  <button data-highlight="defensive">{% include "components/icons/defensive.svg" %}Defensive</button>	
		</div>
  </fieldset>
    
    <div class="actions">
        <button id="clear-legends"><mark>ESC</mark> Clear</button>
    </div>
	
</div>
	
	
	
<div id="character">
	<div id="bloodhound" class="char show">
		<img src="/apex-legends/public/img/legends/bloodhound.png"/>
		<button data-legend="bloodhound">View abilities</button>
	</div>
	<div id="gibraltar" class="char">
		<img src="/apex-legends/public/img/legends/gibraltar.png"/>
		<button data-legend="bloodhound">View abilities</button>
	</div>
	<div id="lifeline" class="char">
		<img src="/apex-legends/public/img/legends/lifeline.png"/>
		<button data-legend="bloodhound">View abilities</button>
	</div>
	<div id="pathfinder" class="char">
		<img src="/apex-legends/public/img/legends/pathfinder.png"/>
		<button data-legend="bloodhound">View abilities</button>
	</div>
	<div id="wraith" class="char">
		<img src="/apex-legends/public/img/legends/wraith.png"/>
		<button data-legend="bloodhound">View abilities</button>
	</div>
	<div id="bangalore" class="char">
		<img src="/apex-legends/public/img/legends/bangalore.png"/>
		<button data-legend="bangalore">View abilities</button>
	</div>
	<div id="caustic" class="char">
		<img src="/apex-legends/public/img/legends/caustic.png"/>
		<button data-legend="caustic">View abilities</button>
	</div>
	<div id="mirage" class="char">
		<img src="/apex-legends/public/img/legends/mirage.png"/>
		<button data-legend="mirage">View abilities</button>
	</div>
	<div id="octane" class="char">
		<img src="/apex-legends/public/img/legends/octane.png"/>
		<button data-legend="octane">View abilities</button>
	</div>
	<div id="wattson" class="char">
		<img src="/apex-legends/public/img/legends/wattson.png"/>
		<button data-legend="wattson">View abilities</button>
	</div>
	<div id="crypto" class="char">
		<img src="/apex-legends/public/img/legends/crypto.png"/>
		<button data-legend="crypto">View abilities</button>
	</div>
	<div id="revenant" class="char">
		<img src="/apex-legends/public/img/legends/revenant.png"/>
		<button data-legend="revenant">View abilities</button>
	</div>
	<div id="loba" class="char">
		<img src="/apex-legends/public/img/legends/loba.png"/>
		<button data-legend="loba">View abilities</button>
	</div>
	<div id="rampart" class="char">
		<img src="/apex-legends/public/img/legends/rampart.png"/>
		<button data-legend="rampart">View abilities</button>
	</div>
	<div id="horizon" class="char">
		<img src="/apex-legends/public/img/legends/horizon.png"/>
		<button data-legend="horizon">View abilities</button>
	</div>
	<div id="fuse" class="char">
		<img src="/apex-legends/public/img/legends/fuse.png"/>
		<button data-legend="fuse">View abilities</button>
	</div>
	<div id="valkyrie" class="char">
		<img src="/apex-legends/public/img/legends/valkyrie.png"/>
		<button data-legend="valkyrie">View abilities</button>
	</div>
	<div id="seer" class="char">
		<img src="/apex-legends/public/img/legends/seer.png"/>
		<button data-legend="seer">View abilities</button>
	</div>
	<div id="ash" class="char">
		<img src="/apex-legends/public/img/legends/ash.png"/>
		<button data-legend="ash">View abilities</button>
	</div>
	<div id="madmaggie" class="char">
		<img src="/apex-legends/public/img/legends/madmaggie.png"/>
		<button data-legend="madmaggie">View abilities</button>
	</div>
	<div id="newcastle" class="char">
		<img src="/apex-legends/public/img/legends/newcastle.png"/>
		<button data-legend="newcastle">View abilities</button>
	</div>
	<div id="vantage" class="char">
		<img src="/apex-legends/public/img/legends/vantage.png"/>
		<button data-legend="vantage">View abilities</button>
	</div>
    <div id="catalyst" class="char">
		<img src="/apex-legends/public/img/legends/catalyst.png"/>
		<button data-legend="catalyst">View abilities</button>
	</div>
		
	
		
	</div>
	
	</div>


<footer>
	
	
	
	
</footer>



<!-- Modal -->

    
    
    {% include "components/abilities/bloodhound.njk" %}
    
{#{%  include "components/smoke.njk" %} #}


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="/apex-legends/public/scripts/script.js"></script>
    
</body>
</html>
