<!DOCTYPE html>
<html lang="en">
    
    {% include "components/head.njk" %}
     {% import "_pattern_macros/legend_tile.njk" as legendtile %}
    
    


<body class="bangalore-selected assault-selected">
  
{% include "components/header.njk" %}




<div id="content">
    
    
    <div id="name" class="row name">
        <div class="nameback"></div>
		<h2 id="name1" class="slide-right">Bangalore</h2>
		<h3 id="name2" class="slide-left">Professional Soldier</h3>
     </div>
    
    {% include "components/classperks.njk" %}
       
        
    

<div id="legends">
	
	
	
<div class="row d-flex">
    
    <div class="col assault">
    
    {{ legendtile.legendtile('bangalore', 'assault','Professional Soldier', 'https://static.wikia.nocookie.net/apexlegends_gamepedia_en/images/3/37/Portrait_Bangalore_square.png' ) }}
    
    {{ legendtile.legendtile('ballistic', 'assault','Refined Gunslinger', 'https://static.wikia.nocookie.net/apexlegends_gamepedia_en/images/3/32/Portrait_Ballistic_square.png' ) }}
    
    {{ legendtile.legendtile('fuse', 'assault','Bombastic Explosives Expert', 'https://static.wikia.nocookie.net/apexlegends_gamepedia_en/images/b/be/Portrait_Fuse_square.png' ) }}
    
    {{ legendtile.legendtile('ash', 'assault','Incisive Instigator', 'https://static.wikia.nocookie.net/apexlegends_gamepedia_en/images/d/d3/Portrait_Ash_square.png' ) }}
    
     {{ legendtile.legendtile('madmaggie', 'assault','Rebel Warlord', 'https://static.wikia.nocookie.net/apexlegends_gamepedia_en/images/f/f7/Portrait_Mad_Maggie_square.png' ) }}
    
    
     <div class="titlebar">
            
            <div class="flair"></div>
            
            <div class="left-strip strip"></div>
            
            <div class="botborder-strip"></div>
            
            
    <svg class="title" xmlns="http://www.w3.org/2000/svg" width="270" height="34" viewBox="0 0 270 34" fill="none">
<path d="M4 1H2.02659L3.19359 2.59136L25.1936 32.5914L25.4933 33H26H244H244.507L244.806 32.5914L266.806 2.59136L267.973 1H266H4Z" fill="#322F36" stroke="black" stroke-width="2"/>
</svg>
            
            <div class="classtitle">
                <img src="/apex-legends/public/img/icons/apex_assault.png"/>
              <h2>Assault</h2>
            </div>
            
            <div class="right-strip strip"></div>
            
            </div>
        
        
   
    </div>
    
    
    <div class="col skirmisher">
        
        {{ legendtile.legendtile('pathfinder', 'skirmisher','Forward Scout', 'https://static.wikia.nocookie.net/apexlegends_gamepedia_en/images/f/f5/Portrait_Pathfinder_square.png' ) }}
    
    {{ legendtile.legendtile('wraith', 'skirmisher','Interdimensional Skirmisher', 'https://static.wikia.nocookie.net/apexlegends_gamepedia_en/images/6/67/Portrait_Wraith_square.png' ) }}
    
      
    
     {{ legendtile.legendtile('octane', 'skirmisher','High-Speed Daredevil', 'https://static.wikia.nocookie.net/apexlegends_gamepedia_en/images/9/9a/Portrait_Octane_square.png' ) }}
        
        {{ legendtile.legendtile('revenant', 'skirmisher','Synthetic Nightmare', 'https://static.wikia.nocookie.net/apexlegends_gamepedia_en/images/d/d1/Portrait_Revenant_square.png' ) }}
    
    {{ legendtile.legendtile('horizon', 'skirmisher','Gravitational Manipulator', 'https://static.wikia.nocookie.net/apexlegends_gamepedia_en/images/9/97/Portrait_Horizon_square.png' ) }}
    
    {{ legendtile.legendtile('valkyrie', 'skirmisher','Winged Avenger', 'https://static.wikia.nocookie.net/apexlegends_gamepedia_en/images/b/b0/Portrait_Valkyrie_square.png' ) }}
        
        
        <div class="titlebar">
            
            <div class="flair"></div>
            
            <div class="left-strip strip"></div>
            
            <div class="botborder-strip"></div>
            
            
    <svg class="title" xmlns="http://www.w3.org/2000/svg" width="270" height="34" viewBox="0 0 270 34" fill="none">
<path d="M4 1H2.02659L3.19359 2.59136L25.1936 32.5914L25.4933 33H26H244H244.507L244.806 32.5914L266.806 2.59136L267.973 1H266H4Z" fill="#322F36" stroke="black" stroke-width="2"/>
</svg>
            
            <div class="classtitle">
                <img src="/apex-legends/public/img/icons/apex_skirmisher.png"/>
              <h2>Skirmisher</h2>
            </div>
            
            <div class="right-strip strip"></div>
            
            </div>
        
        
    </div>
    
    
		</div>
	

	
<div class="row row2">
    
    <div class="col recon">
    
        {{ legendtile.legendtile('bloodhound', 'recon','Technological Tracker', 'https://static.wikia.nocookie.net/apexlegends_gamepedia_en/images/c/ce/Portrait_Bloodhound_square.png' ) }}
    
    {{ legendtile.legendtile('crypto', 'recon','Surveillance Expert', 'https://static.wikia.nocookie.net/apexlegends_gamepedia_en/images/e/e6/Portrait_Crypto_square.png' ) }}
    
    {{ legendtile.legendtile('seer', 'recon','Ambush Artist', 'https://static.wikia.nocookie.net/apexlegends_gamepedia_en/images/f/f2/Portrait_Seer_square.png' ) }}
    
    {{ legendtile.legendtile('vantage', 'recon','Survivalist Sniper', 'https://static.wikia.nocookie.net/apexlegends_gamepedia_en/images/f/f8/Portrait_Vantage_square.png' ) }}
        
        
        
        <div class="titlebar">
            
            <div class="flair"></div>
            
            <div class="left-strip strip"></div>
            
            <div class="botborder-strip"></div>
            
            
    <svg class="title" xmlns="http://www.w3.org/2000/svg" width="270" height="34" viewBox="0 0 270 34" fill="none">
<path d="M4 1H2.02659L3.19359 2.59136L25.1936 32.5914L25.4933 33H26H244H244.507L244.806 32.5914L266.806 2.59136L267.973 1H266H4Z" fill="#322F36" stroke="black" stroke-width="2"/>
</svg>
            
            <div class="classtitle">
                 <img src="/apex-legends/public/img/icons/apex_recon.png"/>
              <h2>Recon</h2>
            </div>
            
            <div class="right-strip strip"></div>
            
            </div>
        
    
    </div>
    
     <div class="col support">
    
    {{ legendtile.legendtile('gibraltar', 'support','Shielded Fortress', 'https://static.wikia.nocookie.net/apexlegends_gamepedia_en/images/0/00/Portrait_Gibraltar_square.png' ) }}

	
    {{ legendtile.legendtile('lifeline', 'support','Combat Medic', 'https://static.wikia.nocookie.net/apexlegends_gamepedia_en/images/f/fa/Portrait_Lifeline_square.png' ) }}
         
         {{ legendtile.legendtile('mirage', 'support','Holographic Trickster', 'https://static.wikia.nocookie.net/apexlegends_gamepedia_en/images/c/c8/Portrait_Mirage_square.png' ) }}
    
    {{ legendtile.legendtile('loba', 'support','Translocating Thief', 'https://static.wikia.nocookie.net/apexlegends_gamepedia_en/images/0/05/Portrait_Loba_square.png' ) }}
    
     {{ legendtile.legendtile('newcastle', 'support','Heroic Defender', 'https://static.wikia.nocookie.net/apexlegends_gamepedia_en/images/0/0f/Portrait_Newcastle_square.png' ) }}
         
         
         
         {{ legendtile.legendtile('conduit', 'support','Shield Healer', 'https://static.wikia.nocookie.net/apexlegends_gamepedia_en/images/2/27/Portrait_Conduit_square.png' ) }}
         
         
         <div class="titlebar">
            
            <div class="flair"></div>
            
            <div class="left-strip strip"></div>
            
            <div class="botborder-strip"></div>
            
            
    <svg class="title" xmlns="http://www.w3.org/2000/svg" width="270" height="34" viewBox="0 0 270 34" fill="none">
<path d="M4 1H2.02659L3.19359 2.59136L25.1936 32.5914L25.4933 33H26H244H244.507L244.806 32.5914L266.806 2.59136L267.973 1H266H4Z" fill="#322F36" stroke="black" stroke-width="2"/>
</svg>
            
            <div class="classtitle">
                 <img src="/apex-legends/public/img/icons/apex_support.png"/>
              <h2>Support</h2>
            </div>
            
            <div class="right-strip strip"></div>
            
            </div>
         
    
    </div>
    
     <div class="col controller">
    
    {{ legendtile.legendtile('caustic', 'controller','Toxic Trapper', 'https://static.wikia.nocookie.net/apexlegends_gamepedia_en/images/4/45/Portrait_Caustic_square.png' ) }}
    
  
    {{ legendtile.legendtile('wattson', 'controller','Static Defender', 'https://static.wikia.nocookie.net/apexlegends_gamepedia_en/images/2/22/Portrait_Wattson_square.png' ) }}
         
     {{ legendtile.legendtile('rampart', 'controller','Amped Modder', 'https://static.wikia.nocookie.net/apexlegends_gamepedia_en/images/0/0f/Portrait_Rampart_square.png' ) }}
    
    {{ legendtile.legendtile('catalyst', 'controller','Defensive Conjurer', 'https://static.wikia.nocookie.net/apexlegends_gamepedia_en/images/9/9a/Portrait_Catalyst_square.png' ) }}
         
         <div class="titlebar">
            
            <div class="flair"></div>
            
            <div class="left-strip strip"></div>
            
            <div class="botborder-strip"></div>
            
            
    <svg class="title" xmlns="http://www.w3.org/2000/svg" width="270" height="34" viewBox="0 0 270 34" fill="none">
<path d="M4 1H2.02659L3.19359 2.59136L25.1936 32.5914L25.4933 33H26H244H244.507L244.806 32.5914L266.806 2.59136L267.973 1H266H4Z" fill="#322F36" stroke="black" stroke-width="2"/>
</svg>
            
            <div class="classtitle">
                 <img src="/apex-legends/public/img/icons/apex_controller.png"/>
              <h2>Controller</h2>
            </div>
            
            <div class="right-strip strip"></div>
            
            </div>
    
    </div>
    
    
     
    
    
   </div>

  
    
    
   
	
</div>
	
	
	
<div id="character">
    <div id="ballistic" class="char">
		<img src="/apex-legends/public/img/legends/ballistic.png"/>
	</div>
	<div id="bloodhound" class="char">
		<img src="/apex-legends/public/img/legends/bloodhound.png"/>
	</div>
	<div id="gibraltar" class="char">
		<img src="/apex-legends/public/img/legends/gibraltar.png"/>
	</div>
	<div id="lifeline" class="char">
		<img src="/apex-legends/public/img/legends/lifeline.png"/>
	</div>
	<div id="pathfinder" class="char">
		<img src="/apex-legends/public/img/legends/pathfinder.png"/>
	</div>
	<div id="wraith" class="char">
		<img src="/apex-legends/public/img/legends/wraith.png"/>
	</div>
	<div id="bangalore" class="char show">
		<img src="/apex-legends/public/img/legends/bangalore.png"/>
	</div>
	<div id="caustic" class="char">
		<img src="/apex-legends/public/img/legends/caustic.png"/>
	</div>
	<div id="mirage" class="char">
		<img src="/apex-legends/public/img/legends/mirage.png"/>
	</div>
	<div id="octane" class="char">
		<img src="/apex-legends/public/img/legends/octane.png"/>
	</div>
	<div id="wattson" class="char">
		<img src="/apex-legends/public/img/legends/wattson.png"/>
	</div>
	<div id="crypto" class="char">
		<img src="/apex-legends/public/img/legends/crypto.png"/>
	</div>
	<div id="revenant" class="char">
		<img src="/apex-legends/public/img/legends/revenant.png"/>
	</div>
	<div id="loba" class="char">
		<img src="/apex-legends/public/img/legends/loba.png"/>
	</div>
	<div id="rampart" class="char">
		<img src="/apex-legends/public/img/legends/rampart.png"/>
	</div>
	<div id="horizon" class="char">
		<img src="/apex-legends/public/img/legends/horizon.png"/>
	</div>
	<div id="fuse" class="char">
		<img src="/apex-legends/public/img/legends/fuse.png"/>
	</div>
	<div id="valkyrie" class="char">
		<img src="/apex-legends/public/img/legends/valkyrie.png"/>
	</div>
	<div id="seer" class="char">
		<img src="/apex-legends/public/img/legends/seer.png"/>
	</div>
	<div id="ash" class="char">
		<img src="/apex-legends/public/img/legends/ash.png"/>
	</div>
	<div id="madmaggie" class="char">
		<img src="/apex-legends/public/img/legends/madmaggie.png"/>
	</div>
	<div id="newcastle" class="char">
		<img src="/apex-legends/public/img/legends/newcastle.png"/>
	</div>
	<div id="vantage" class="char">
		<img src="/apex-legends/public/img/legends/vantage.png"/>
	</div>
    <div id="catalyst" class="char">
		<img src="/apex-legends/public/img/legends/catalyst.png"/>
	</div>
    <div id="conduit" class="char">
		<img src="/apex-legends/public/img/legends/conduit.png"/>
	</div>
		
	
		
	</div>
	
	</div>



	
	
  {% include "components/footer.njk" %}
	




<!-- Modal -->

    
    
    
    {% include "components/abilities/bangalore.njk" %}
    {% include "components/abilities/fuse.njk" %}
    {% include "components/abilities/ash.njk" %}
    {% include "components/abilities/madmaggie.njk" %}
    {% include "components/abilities/ballistic.njk" %}
    
    {% include "components/abilities/pathfinder.njk" %}
    {% include "components/abilities/wraith.njk" %}
    {% include "components/abilities/octane.njk" %}
    {% include "components/abilities/revenant.njk" %}
    {% include "components/abilities/horizon.njk" %}
    {% include "components/abilities/valkyrie.njk" %}
    
    
    {% include "components/abilities/bloodhound.njk" %}
    {% include "components/abilities/crypto.njk" %}
    {% include "components/abilities/seer.njk" %}
    {% include "components/abilities/vantage.njk" %}
    
     {% include "components/abilities/gibraltar.njk" %}
    {% include "components/abilities/lifeline.njk" %}
    {% include "components/abilities/mirage.njk" %}
     {% include "components/abilities/loba.njk" %}
    {% include "components/abilities/newcastle.njk" %}
    {% include "components/abilities/conduit.njk" %}
    
    {% include "components/abilities/caustic.njk" %}
    {% include "components/abilities/wattson.njk" %}
    {% include "components/abilities/rampart.njk" %}
    {% include "components/abilities/catalyst.njk" %}
    
{#{%  include "components/smoke.njk" %} #}


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="/apex-legends/public/scripts/script.js"></script>
    
</body>
</html>
