<!DOCTYPE html>
<html lang="en">
    
    {% include "components/head.njk" %}
    
    


<body>
  

<header>
	<div class="menu">
		<div class="credit">
			<span class="credittext">
				<p>Random Legend Selector</p>
				<p class="cred">by SirNightOwl<p>
			</span>
				
				
			<div class="badge">
				<div class="inner">
                    
                    {% include "components/icons/apex.svg" %}
                   
					
					
					
				</div>
				
				</div>
			
			
		</div>
		<a href="/apex-legends/public/index.html"><span>Legends</span></a>
		<a href="weapons/index.html"><span>Weapons</span></a>
		<a href=""><span>Maps</span></a>
        <a href=""><span>Streamers</span></a>
		
		<div class="buffer">
			
			
		</div>
		
	</div>
	
</header>



<div id="content">
    
    
    
    <div class="row">
    
        <div class="titlebar">
        <h2>Sub machine guns</h2>
        </div>
        
        
    <div class="weapons-card">
        <h3>Alternator</h3>
        <div class="feat-img">
            <img src="https://static.wikia.nocookie.net/apexlegends_gamepedia_en/images/e/e9/Alternator_SMG.png"/>
            <p>Twin barrel full-auto SMG.</p>
        </div>
        <div class="card-body">
           
            <h4>Profile</h4>
            
            <div class="row">
                <div class="col-md-6">Type</div>
                <div class="col-md-6">Sub machine gun</div>
            </div>
            <div class="row">
                <div class="col-md-6">Ammo</div>
                <div class="col-md-6">Light Rounds</div>
            </div>
            <div class="row">
                <div class="col-md-6">Fire modes</div>
                <div class="col-md-6">Auto</div>
            </div>
            <div class="row">
                <div class="col-md-6">Manufacturer</div>
                <div class="col-md-6">Burrell Defense</div>
            </div>
            
            <!-- https://apexlegends.fandom.com/wiki/Category:Attachment_icons -->
            <h4>Attachment slots</h4>
            
            <div class="attachments">
                <div class="attachment">
                    {% include "components/icons/attachments/lasersight.svg" %}
                </div>
                <div class="attachment">
                    {% include "components/icons/attachments/lightmag.svg" %}
                </div>
                <div class="attachment">
                    {% include "components/icons/attachments/standardstock.svg" %}
                    </div>
                <div class="attachment">
                    {% include "components/icons/attachments/optics.svg" %}
                    </div>
            </div>
            
        </div>
        
        
        
        
    </div>
    
    
   </div> 
    

	
</div>


<footer>
	
	
	
	
</footer>



<!-- Modal -->

    
    
    {% include "components/abilities/bloodhound.njk" %}
    
{% include "components/smoke.njk" %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="/apex-legends/public/scripts/script.js"></script>
    
</body>
</html>
