
<div id="assault-class">

    <div class="classtext">
        <div class="col">
       <h3 class="s-left">Assault</h3>
      <h4 class="s-left">Combat Utility and Initiation</h4>
            </div>
        <div class="image">
        <img src="/apex-legends/public/img/icons/apex_assault.png"/>
        </div>
    </div>

    <div class="perktext">
        <div class="col">
      <h4 class="s-left">Access Weapon </h4>
      <h4 class="s-left">Supply Bins</h4>
            </div>
         <div class="image">
        <img src="/apex-legends/public/img/icons/apex_recon.png"/>
        </div>
    </div>
    
    <div class="perktext perktext2">
        <div class="col">
      <h4 class="s-left">Carry</h4>
      <h4 class="s-left">Extra Ammo</h4>
            </div>
         <div class="image">
        <img src="/apex-legends/public/img/icons/apex_recon.png"/>
        </div>
    </div>

    
</div>

<div id="skirmisher-class">

    <div class="classtext">
        <div class="col">
       <h3 class="s-left">Skirmisher</h3>
      <h4 class="s-left">Combat Mobility & Escape</h4>
            </div>
        <div class="image">
        <img src="/apex-legends/public/img/icons/apex_skirmisher.png"/>
        </div>
    </div>

    <div class="perktext">
        <div class="col">
      <h4 class="s-left">Care Package</h4>
      <h4 class="s-left">Insight</h4>
            </div>
         <div class="image">
        <img src="/apex-legends/public/img/icons/apex_recon.png"/>
        </div>
    </div>

    
</div>

<div id="recon-class">

    <div class="classtext">
        <div class="col">
       <h3 class="s-left">Recon</h3>
      <h4 class="s-left">Enemy Intel & Tracking</h4>
            </div>
        <div class="image">
        <img src="/apex-legends/public/img/icons/apex_recon.png"/>
        </div>
    </div>

    <div class="perktext">
        <div class="col">
      <h4 class="s-left">Access Survey</h4>
      <h4 class="s-left">Beacons</h4>
            </div>
         <div class="image">
        <img src="/apex-legends/public/img/icons/apex_recon.png"/>
        </div>
    </div>

    
</div>

<div id="support-class">

    <div class="classtext">
        <div class="col">
       <h3 class="s-left">Support</h3>
      <h4 class="s-left">Combat Mobility & Escape</h4>
            </div>
        <div class="image">
        <img src="/apex-legends/public/img/icons/apex_support.png"/>
        </div>
    </div>

    <div class="perktext">
        <div class="col">
      <h4 class="s-left">Access Extended</h4>
      <h4 class="s-left">Supply Bins</h4>
            </div>
         <div class="image">
        <img src="/apex-legends/public/img/icons/apex_recon.png"/>
        </div>
    </div>
    
    <div class="perktext perktext2">
        <div class="col">
      <h4 class="s-left">Craft Ally</h4>
      <h4 class="s-left">Banners</h4>
            </div>
         <div class="image">
        <img src="/apex-legends/public/img/icons/apex_recon.png"/>
        </div>
    </div>

    
</div>

<div id="controller-class">

    <div class="classtext">
        <div class="col">
       <h3 class="s-left">Controller</h3>
      <h4 class="s-left">Combat Mobility & Escape</h4>
            </div>
        <div class="image">
        <img src="/apex-legends/public/img/icons/apex_controller.png"/>
        </div>
    </div>

    <div class="perktext">
        <div class="col">
      <h4 class="s-left">Access Ring</h4>
      <h4 class="s-left">Consoles</h4>
            </div>
         <div class="image">
        <img src="/apex-legends/public/img/icons/apex_recon.png"/>
        </div>
    </div>
    
    

    
</div>