<footer>
    <div class="actions">
    
    <button id="select-legend"><img src="img/icons/mouse-leftclick.svg"/> Select Legend</button>
    
        <button id="clear-legends"><mark>ESC</mark> Clear</button>
    </div>
    
</footer>