<header>
	 <fieldset>
    <legend>Pick random</legend>
        <div class="buttons">
            
            <button data-highlight="all"><img src="/apex-legends/public/img/icons/apex_all.png"/>
            Legend</button>	
            
            
            <button data-highlight="assault"><img src="/apex-legends/public/img/icons/apex_assault.png"/>
              Assault</button>	
            
            <button data-highlight="skirmisher"><img src="/apex-legends/public/img/icons/apex_skirmisher.png"/>
              Skirmisher</button>	
            
   		
		  <button data-highlight="recon">
               <img src="/apex-legends/public/img/icons/apex_recon.png"/>
              {#include "components/icons/recon.svg" #}
              Recon</button>	
		  <button data-highlight="support">
              <img src="/apex-legends/public/img/icons/apex_support.png"/>
              Support</button>	
		  
		  <button data-highlight="controller">
               <img src="/apex-legends/public/img/icons/apex_controller.png"/>
              Controller</button>	
		</div>
  </fieldset>
    
    
	
</header>


