
		<div class="abilties alter-abilities">
			
		<div class="ability">
			<div class="icon">
			<img src="/apex-legends/public/img/abilityicons/alter/Gift_from_the_rift.webp"/>
				</div>
			<div class="col">
                <h3>Passive</h3>
			     <h2>Gift from the Rift</h2>
            </div>
		</div>
		
		<div class="ability">
			<div class="icon">
			<img src="/apex-legends/public/img/abilityicons/alter/Void_Passage.webp"/>
			</div>
            <div class="col">
                <h3>Void Passage</h3>
                <h2>Arc Snare</h2>
            </div>
		</div>
		
		<div class="ability ultimate">
            <div class="icon">
			<img src="/apex-legends/public/img/abilityicons/alter/Void_Nexus.webp"/>
                  </div>
			<div class="col">
                <h3>Ultimate</h3>
			     <h2>Void Nexus</h2>
            </div>
		</div>
			
			
			
		</div>