
		<div class="abilties bloodhound-abilities">
			
		<div class="ability">
			<div class="icon">
			<img src="/apex-legends/public/img/abilityicons/bloodhound/tracker.svg"/>
				</div>
			<div class="col">
                <h3>Passive</h3>
			     <h2>Tracker</h2>
            </div>
		</div>
		
		<div class="ability">
			<div class="icon">
			<img src="/apex-legends/public/img/abilityicons/bloodhound/Eye_of_the_Allfather.svg"/>
			</div>
            <div class="col">
                <h3>Tactical</h3>
                <h2>Eye of the Allfather</h2>
            </div>
		</div>
		
		<div class="ability ultimate">
            <div class="icon">
			<img src="/apex-legends/public/img/abilityicons/bloodhound/Beast_of_the_Hunt.svg"/>
                  </div>
			<div class="col">
                <h3>Ultimate</h3>
			     <h2>Beast of the Hunt</h2>
            </div>
		</div>
			
			
			
		</div>
