<div class="modal bloodhound-abilities" tabindex="-1">
  <div class="modal-dialog">
		<div class="container">
			
		<div class="ability">
			<div class="icon">
			<img src="https://media.contentapi.ea.com/content/dam/apex-legends/images/2019/01/ability-icons/apex-grid-tile-legends-abilities-passive-bloodhound.png.adapt.crop16x9.652w.png"/>
				</div>
			<h3>Passive</h3>
			<h2>Tracker</h2>
			<p>See tracks left behind by your foes</p>
		</div>
		
		<div class="ability">
			<div class="icon">
			<img src="https://media.contentapi.ea.com/content/dam/apex-legends/images/2019/01/ability-icons/apex-grid-tile-legends-abilities-tactical-bloodhound.png.adapt.crop16x9.652w.png"/>
			</div>
			<h3>Tactical</h3>
			<h2>Eye of the Allfather</h2>
			<p>Briefly reveal hidden enemies, traps, and clues throughout structures in front of you.</p>
		</div>
		
		<div class="ability ultimate">
			<img src="https://media.contentapi.ea.com/content/dam/apex-legends/images/2019/01/ability-icons/apex-grid-tile-legends-abilities-ultimate-bloodhound.png.adapt.crop16x9.652w.png"/>
			<h3>Ultimate</h3>
			<h2>Beast of the Hunt</h2>
			<p>Enhances your senses, allowing you to move faster and highlighting your prey</p>
		</div>
			
			<div class="underline">
				<div class="icon">
			{% include "components/icons/recon.svg" %}
		</div>
				<p><strong>Recon:</strong>Scanning Survey Beacons reveals the next circle location.</p>
				
				
			</div>
			
		</div>
		
  </div>
</div>