
		<div class="abilties fuse-abilities">
			
		<div class="ability">
			<div class="icon">
			<img src="/apex-legends/public/img/abilityicons/fuse/Grenadier.svg"/>
				</div>
			<div class="col">
                <h3>Passive</h3>
			     <h2>Grenadier</h2>
            </div>
		</div>
		
		<div class="ability">
			<div class="icon">
			<img src="/apex-legends/public/img/abilityicons/fuse/Knuckle_Cluster.svg"/>
			</div>
            <div class="col">
                <h3>Tactical</h3>
                <h2>Knuckle Cluster</h2>
            </div>
		</div>
		
		<div class="ability ultimate">
            <div class="icon">
			<img src="/apex-legends/public/img/abilityicons/fuse/The_Motherlode.svg"/>
                  </div>
			<div class="col">
                <h3>Ultimate</h3>
			     <h2>The Motherlode</h2>
            </div>
		</div>
			
			
			
		</div>
