
		<div class="abilties madmaggie-abilities">
			
		<div class="ability">
			<div class="icon">
			<img src="/apex-legends/public/img/abilityicons/madmaggie/Warlord's_Ire.svg"/>
				</div>
			<div class="col">
                <h3>Passive</h3>
			     <h2>Warlord's Ire</h2>
            </div>
		</div>
		
		<div class="ability">
			<div class="icon">
			<img src="/apex-legends/public/img/abilityicons/madmaggie/Riot_Drill.svg"/>
			</div>
            <div class="col">
                <h3>Tactical</h3>
                <h2>Riot Drill</h2>
            </div>
		</div>
		
		<div class="ability ultimate">
            <div class="icon">
			<img src="/apex-legends/public/img/abilityicons/madmaggie/Wrecking_Ball.svg"/>
                  </div>
			<div class="col">
                <h3>Ultimate</h3>
			     <h2>Wrecking Ball</h2>
            </div>
		</div>
			
			
			
		</div>
