
		<div class="abilties pathfinder-abilities">
			
		<div class="ability">
			<div class="icon">
			<img src="/apex-legends/public/img/abilityicons/pathfinder/Insider_Knowledge.svg"/>
				</div>
			<div class="col">
                <h3>Passive</h3>
			     <h2>Insider Knowledge</h2>
            </div>
		</div>
		
		<div class="ability">
			<div class="icon">
			<img src="/apex-legends/public/img/abilityicons/pathfinder/Grappling_Hook.svg"/>
			</div>
            <div class="col">
                <h3>Tactical</h3>
                <h2>Grappling Hook</h2>
            </div>
		</div>
		
		<div class="ability ultimate">
            <div class="icon">
			<img src="/apex-legends/public/img/abilityicons/pathfinder/Zipline_Gun.svg"/>
                  </div>
			<div class="col">
                <h3>Ultimate</h3>
			     <h2>Zipline Gun</h2>
            </div>
		</div>
			
			
			
		</div>
