{% extends "template.njk" %}
{% block main %}
  <p>Some random HTML sadasd</p>
<a href="https://www.norfolk.gov.uk"><img src="{{ '/img/logo2.svg' | url }}" alt="Norfolk County Council Logo"></a>
{% endblock %}